<header>
    <div class="caja-verde">
        <p class="nombre">ANDROMEDA</p> 
        <img  src="../images/logo.jpg" alt="logo" class="logo" >
        <div class="login-carrito">
            <div class="login">
            <img src="../images/login.png" alt="" class="icono">
            <p>INICIO/REGISTRO</p>
            </div>
            <div class="carrito">
             <img src="../images/carrito.png" alt="" class="icono">
             <p>CARRITO</p>
            </div>
            </div>  
    </div>
    <div class="barra-navegacion">
        <input type="text" name="buscador" placeholder="Busca tus productos" class="buscador">
        <img src="../images/lupa.png" alt="" class="lupa">
    </div>
    <div class="navegacion">
        <p>COMPONENTES</p>
        <p>LICENCIAS</p>
        <p>PERIFERICOS</p>
        <p>NOTEBOOKS</p>
        <p>FAQ</p>
        <p>CONTACTO</p>
    </div>
</header>