<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class='carrusel'>
        <h1>CARRUSEL</h1>
    </div>
    <h2>NUESTROS MEJORES COMBOS</h2>
    <div class="caja-combos">
        <div class="combo1">
            <div>PRODUCTO</div>
        <p>PRECIO Y DESCRIPCION</p>
        </div>
        <div class="combo2">
            <div>PRODUCTO</div>
        <p>PRECIO Y DESCRIPCION</p>
        </div>
        <div>
        <div class="combo3">
            <div>PRODUCTO</div>
            <p>PRECIO Y DESCRIPCION</p>
        </div>
    </div>
    </div> 
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <h2>CLAVES Y LICENCIAS</h2>
    <div class="caja-licencias">
        <div class="licencia1">
            <div>PRODUCTO</div>
            <p>PRECIO Y DESCRIPCION</p>
        </div>
        <div class="licencia2">
            <div>PRODUCTO</div>
            <p>PRECIO Y DESCRIPCION</p>
        </div>
        <div class="licencia3">
            <div>PRODUCTO</div>
            <p>PRECIO Y DESCRIPCION</p>
        </div>
    </div>
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <%- include('./partials/footer') %>
</body>
</html>