<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class='carrusel'>
        <h1>CARRUSEL</h1>
    </div>
    <h2>NUESTROS MEJORES COMBOS</h2>
    <div class="caja-combos">
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
    </div>
    <div class="precio-descripcion">
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
    </div>
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <h2>CLAVES Y LICENCIAS</h2>
    <div class="caja-licencias">
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
    </div>
    <div class="precio-descripcion">
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
    </div>
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <%- include('./partials/footer') %>
</body>
</html>