<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class='carrusel'>
        <h1>CARRUSEL</h1>
    </div>
    <h2>NUESTROS MEJORES COMBOS</h2>
    <div class="caja-combos">
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
    </div>
    <div class="precio-descripcion">
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
    </div>
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <h2>CLAVES Y LICENCIAS</h2>
    <div class="caja-licencias">
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
        <div>PRODUCTO</div>
    </div>
    <div class="precio-descripcion">
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
        <div>PRECIO Y DESCRIPCION</div>
    </div>
    <P class="linea">----------------------------------------------------------------------------------------------</P>
    <footer>
        <div class="caja-footer">
            <div class="contacto">
                <p>ATENCION AL CLIENTE</p>
                <br>
                <p>WHATSAPP +543886821175</p>
                <br>
                <p>CONSULTAS@ANDROMEDA.COM</p>
                <br>
                <p>LUN A VIE 9 A 20HS</p>
            </div>
            <div class="redes">
                <p>NUESTRAS REDES</p>
                <img src="../images/facebookIcono.png" alt="">
                <img src="../images/instagramIcono.png" alt="">
                <img src="../images/tiktokIcono.png" alt="">
            </div>
            <div class="suscripcion">
                <p>SUSCRIBITE Y RECIBÍ LAS MEJORES OFERTAS</p>
                <input type="email" placeholder="ALGUIEN@EXAMPLE.COM">
            </div>
        </div>
    </footer>
</body>
</html>