<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANDROMEDA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../css/login.css'>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="titulo">
        <h1>INICIAR SESION</h1>
    </div>
    <form action="">
        <div class="container">
            <div class="caja-formulario">
                <h2>CORREO:</h2>
                <div class="caja-email">
                    <input type="email" placeholder="ALGUIEN@EXAMPLE.COM">
                </div>
                <P class="linea">-----------------------------------</P>
                 <h2>CONTRASEÑA:</h2>
                <div class="caja-password">
                    <input type="password" placeholder="*************">
                </div>
                 <div class="caja-botones">
                    <button>INGRESAR</button>
                 <a href="">NO TENES UNA CUENTA?</a>
                 <button>REGISTRARSE</button>
                 <a href="">OLVIDASTE TU CONTRASEÑA?</a>
                 </div>
            </div>

        </div>
    </form>
</body>
</html>