<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/shoppingCart.css">
    <title>ANDROMEDA</title>
</head>
<body>
    <%- include('./partials/header') %>

    <h1>CARRITO DE COMPRAS</h1>
    <p class="linea">--------------------------------------------------------------------------------------------------------------------------------------</p>

    <h2>Tu carrito está vacio, tocá el boton para añadir productos.</h2>

    <p class="linea">--------------------------------------------------------------------------------------------------------------------------------------</p>   

    <div class="container-boton">
        <button>AÑADIR</button>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>