*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.linea{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 50px;

}

/* HEADER */
.caja-verde{
    width: auto;
    display: flex;
    background: linear-gradient(#55b53f,#21e765);
    border-radius: 20px;
}
.logo{
    margin-top: 8px;
    margin-left: 36%;
    height: 125px;
    border-radius: 200px;
}
.nombre{
    margin-left: 15px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
.icono{
    width: 50px;
    height: 50px;
}
.login-carrito{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px
}
p{
    font-family: 'VT323', monospace;
    font-size: 20px;
}
.caja-logo{
    text-align: center;
}
.lupa{
    height: 30px;
}
.buscador{
    background-color: black;
    border: white solid 1px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-left: 35px;
    margin-top: 15px
}
.barra-navegacion{
    display: flex;
}
.navegacion{
    border: 1px white solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 15px;
}
.caja-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.caja-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px
}
/* CARRUSEL */
.carrusel{
    color: white;
    text-align: center;
}
/* COMBOS */
h2{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 50px;
    text-align: center;
}
.caja-combos{
    display: flex;
    justify-content: space-around;
}
.caja-combos div{
    padding: 125px;
    text-align: center;
    margin-top: 100px;
    color: black;
    font-family: 'VT323', monospace;
    font-size: 40px;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 25px;
} 
.precio-descripcion{
    display: flex;
    justify-content: space-around;
}
.precio-descripcion div{
    background-color: white;
    font-family: 'VT323', monospace;
    margin-top: 50px;
    width: 400px;
    height: 85px;
    border-radius: 25px;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}
/* LICENCIAS */
.caja-licencias{
    display: flex;
    justify-content: space-around;
}
.caja-licencias div{
    padding: 125px;
    text-align: center;
    margin-top: 100px;
    color: black;
    font-family: 'VT323', monospace;
    font-size: 40px;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 25px;
}
.precio-descripcion{
    display: flex;
    justify-content: space-around;
}
.precio-descripcion div{
    background-color: white;
    font-family: 'VT323', monospace;
    margin-top: 50px;
    width: 400px;
    height: 85px;
    border-radius: 25px;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}


/* FOOTER */
.caja-footer{
    display: flex;
    justify-content: space-around;
}
.contacto p{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin-left: 25px;
}
.redes img{
    width:60px;
    height:60px ;
}
.redes p{
    color: white;
    font-size: 30px;
    font-family: 'VT323', monospace;
}
.suscripcion p{
    color: white;
    font-size: 30px;
    font-family: 'VT323', monospace;
}
.suscripcion input{
    font-family: 'VT323', monospace;
    width: 350px;
    height: 35px;
    font-size: 30px;
}