*{
    box-sizing: border-box;
}
body{
    background-color: black;
}

/* HEADER */


.caja-verde{
    width: auto;
    display: flex;
    background: linear-gradient(#55b53f,#21e765);
    border-radius: 20px;
}
.logo{
    margin-top: 8px;
    margin-left: 36%;
    height: 125px;
    border-radius: 200px;
}
.nombre{
    margin-left: 15px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
.icono{
    width: 50px;
    height: 50px;
}
.login-carrito{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px
}
p{
    font-family: 'VT323', monospace;
    font-size: 20px;
}
.caja-logo{
    text-align: center;
}
.lupa{
    height: 30px;
}
.buscador{
    background-color: black;
    border: white solid 1px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-left: 35px;
    margin-top: 15px
}
.barra-navegacion{
    display: flex;
}
.navegacion{
    border: 1px white solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 15px;
}
.caja-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.caja-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px
}

/* FORMULARIO LOGIN */

.titulo{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 50px;
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: 100px;
    border: 3px dashed white;
    border-radius: 20px;
    width: 400px;
    height: 85px;
    padding-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.caja-formulario{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#55b53f,#21e765);
    font-family: 'VT323', monospace;
    height: 800px;
    width: 650px;
    border-radius: 20px;
}
.caja-formulario h2{
    font-size: 50px;
    text-align: center;
}
a{
    text-align: center;
    margin-top: 30px;
    font-family: 'VT323', monospace;
    color: black;
    font-size: 25px;
}
.caja-formulario p{
    text-align: center;
    font-size: 40px;
}
.caja-email{
    display: flex;
    justify-content: center;
}
.caja-password{
    display: flex;
    justify-content: center;
}
input{
    text-align: center;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 30px;    
}
.caja-botones{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    font-family: 'VT323', monospace;
    margin-top: 35px;
    width: 30%;
    height: 50px;
    text-align: center;
    font-size: 25px ;
    border-radius: 15px;
    border: none;
}



/* -------MEDIA QUERIES------- */


/* -------MOBILE------- */


@media (max-width:460px){    


    /* HEADER */



    .nombre{
        display: none;
    }

    .caja-verde{
        width: 100vw;
    }
    .logo{
        margin-left: -2px;
        width: 100px;
        height: 100px;
    }
    .icono{
        width: 40px;
        height: 40px;
    }
    .login p{
        font-size: 15px;
    }
    .carrito p{
        font-size: 15px;
    }

    .navegacion{
        padding: 2px;
    }

    .linea{
        display: none;
    }
    
}